body {
    height: 100%;
    width: 100%;
    background: black;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pot {
    height: 310px;
    width: 200px;
    background: #4082bf;
    border-radius: 300px 300px 0px 0px;
    position: relative;
}

.pot:before,
.pot:after {
    content: '';
    position: absolute;
}

.pot:before {
    height: 15px;
    width: 15px;
    background: rgba(255, 255, 255, 0.411);
    border-radius: 50%;
    left: 84%;
    top: 100px;
}

.pot:after {
    height: 15px;
    width: 250px;
    left: -13%;
    top: 100px;
}

.pot:after {
    position: absolute;
    top: 310px;
    background: rgba(83, 143, 193, 0.411);
    border-radius: 10px;
}

.shine {
    width: 12px;
    height: 140px;
    background: white;
    opacity: 0.2;
    position: absolute;
    left: 85%;
    top: 130px;
    border-radius: 100px;
    z-index: 10;
}

.petals>div {
    position: absolute;
    background: #d52d58;
    width: 45px;
    height: 80px;
    top: 55px;
    transition: all 0.5s ease-out;
    transform-origin: bottom center;
}

.petals>div:nth-child(1) {
    border-radius: 15px;
    box-shadow: 0px 0px 30px #f594b8;
    left: 80px;
    top: 60px;
    background: #d52d58;
    animation: blowing 3s ease-in-out infinite;
}

.petals>div:nth-child(2),
.petals>div:nth-child(4),
.petals>div:nth-child(6) {
    background: #b81b43;
    left: 60px;
    border-radius: 0px 30px 0px 30px;
    transform-origin: bottom right;
}

.petals>div:nth-child(3),
.petals>div:nth-child(5),
.petals>div:nth-child(7) {
    background: #b81b43;
    left: 100px;
    border-radius: 30px 0px 30px 0px;
    transform-origin: bottom left;
}

.petals>div:nth-child(2) {
    z-index: 5;
    background: #ab1a3f;
    top: 75px;
    height: 70px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
}

.petals>div:nth-child(3) {
    z-index: 4;
    background: #ab1a3f;
    top: 75px;
    height: 70px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
}

.petals>div:nth-child(4) {
    z-index: 3;
    background: #b81b43;
    top: 75px;
    height: 70px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
}

.petals>div:nth-child(5) {
    z-index: 2;
    background: #b81b43;
    top: 75px;
    height: 70px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
}

.petals>div:nth-child(6) {
    z-index: 1;
    background: #c9204b;
    top: 75px;
    height: 70px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
}

.petals>div:nth-child(7) {
    display: none;
    /* Hide the extra petal on the left */
}

.Deadpetals>div {
    position: absolute;
    background-color: #b52d58;
    width: 20px;
    height: 15px;
    top: 120px;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
    transition: all 0.5s ease-out;
}

.Deadpetals>div:nth-child(1) {
    left: 69px;
    transform: rotate(-30deg);
    animation: falling 20s 4s ease-in-out infinite;
}

.Deadpetals>div:nth-child(2) {
    left: 82px;
    transform: rotate(-30deg);
    animation: falling 20s 8s ease-in-out infinite;
}

.Deadpetals>div:nth-child(3) {
    left: 71px;
    transform: rotate(-30deg);
    animation: falling 20s 12s ease-in-out infinite;
}

.Deadpetals>div:nth-child(4) {
    left: 77px;
    transform: rotate(-30deg);
    animation: falling 20s 16s ease-in-out infinite;
}

.leaf>div:nth-last-child(1) {
    .leaf {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #9d193b;
        border-radius: 50%;
        animation: falling 5s linear infinite;
    }
}

.leaf>div:nth-child(1) {
    position: absolute;
    width: 6px;
    height: 210px;
    background: #087608ba;
    top: 95px;
    left: 100px;
    border-radius: 0 0 100px 100px;
}

.leaf>div:nth-child(2) {
    position: absolute;
    width: 30px;
    height: 50px;
    top: 53px;
    border-radius: 5px 40px 20px 40px;
    background: #076707;
    transform-origin: bottom;
    transform: rotate(-30deg);
    top: 180px;
    left: 80px;
    box-shadow: inset 5px 5px #067506;
}

.leaf>div:nth-child(3) {
    position: absolute;
    width: 30px;
    height: 50px;
    top: 53px;
    border-radius: 40px 5px 40px 20px;
    background: #076707;
    transform-origin: bottom;
    transform: rotate(30deg);
    top: 150px;
    left: 95px;
    box-shadow: inset -5px -5px #067506;
}

.thron>div {
    position: absolute;
    width: 0;
    height: 0;
    top: 140px;
}

.thron>div:nth-child(odd) {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #054c05;
    left: 105px;
}

.thron>div:nth-child(even) {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #054c05;
    left: 95px;
}

.thron>div:nth-child(1) {
    top: 200px;
}

.thron>div:nth-child(2) {
    top: 170px;
}

.thron>div:nth-child(4) {
    top: 230px;
}

@keyframes bloom2 {
    50% {
        transform: rotate(-90deg);
        top: 200px;
        left: 100px;
    }
    100% {
        transform: rotate(-60deg);
        top: 252px;
        left: 50px;
        background: #71122a;
        box-shadow: 0px 0px 0px rgba(245, 148, 184, 0);
    }
}

@keyframes bloom3 {
    100% {
        transform: rotate(45deg);
    }
}

@keyframes bloom4 {
    100% {
        transform: rotate(-20deg);
    }
}

@keyframes bloom5 {
    100% {
        transform: rotate(20deg);
    }
}

@keyframes bloom6 {
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes bloom7 {
    100% {
        transform: rotate(5deg);
    }
}

@keyframes glowing {
    50% {
        background: #d7365f;
        box-shadow: 0px 0px 60px #f594b8;
    }
}


/* @keyframes falling{
    0%, 100% {
        opacity: 1;
        transform: translateX(0) scale(1);
        }
}
.falling {
    animation: falling 1s both, show 1s both;
    will-change: transform, opacity;
    } */